﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="DirectoryLister.aspx.vb" Inherits="LdapAuth.DirectoryLister" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:GridView ID="GridView1" runat="server"></asp:GridView>
    </div>
    </form>
</body>
</html>
